

<div class="cont_principal">
    <div class="cont_central">
      <div class="cont_modal cont_modal_active">
      <div class="cont_photo">
    <div class="cont_img_back">
        <img src="https://wallpaperaccess.com/full/1184035.jpg" alt="" />
        </div>
    <div class="cont_mins">
        <div class="sub_mins">
      <h3>50</h3>
    <span>MINS</span>
      </div>
      <div class="cont_icon_right">
      </div>
        </div>
    <div class="cont_servings">
          <h3>4</h3>
    <span>SERVINGS</span>
        </div>
    <div class="cont_detalles">
        <h3>Pizza</h3>
    <p>consectetur adipiscing elit. Aliquam sagittis est est aliquam, sed faucibus massa lobortis. Maecenas non est justo.</p>
    <h2>Ingredients</h2>
    <p> tomato, potato, etc </p>

        </div>
        </div>
    <div class="cont_text_ingredients">
    <div class="cont_over_hidden">
     
      <div class="cont_tabs">
      <ul>
        <li><a><h4>PREPARATION</h4></a></li>
      </ul>  
      </div>
       
      <div class="cont_text_det_preparation">
      <div class="cont_title_preparation">
        <p>STEP 1</p>
        </div>
      <div class="cont_info_preparation">
        <p>Heat oven to 375 degress</p>
        </div>  
      <div class="cont_text_det_preparation">
    
      <div class="cont_title_preparation">
        <p>STEP 2</p>
        </div>
      <div class="cont_info_preparation">
        <p>Heat oil in a large skillet over medium-low head. Add onion and bell papper. Cook gently until very soft, about 20 minutes. Add garlic and cook until tender, 1 to 2 minutes; stir in cumin, paprika and cook 1 minute. Pour in tomatoes and season with 3/4 teaspoon salt and 1/4 teaspoon pepper;</p>
        </div> 
      
      </div>
    </div>  
        
      </div>
      <div class="cont_btn_open_dets">
      <button type="button" (click)="open_close()"><i class="material-icons"><</i></button>
      </div>
    
        </div>
       </div>
    </div>
