

<div class="cont_principal" style="margin-bottom: 100px;">
  <button routerLink="../" mat-raised-button color="warn" style="margin-top: 10px; margin-left: 10px; width: 200px; display: flex;">Back to recipes list</button>
    <div class="cont_central">
      <div class="cont_modal cont_modal_active">
        <div class="cont_photo">

          <div class="cont_img_back">
            <img src="https://wallpaperaccess.com/full/1184035.jpg" alt="" />
          </div>

          <div class="cont_mins">
            <div class="sub_mins">
              <h3>{{selectedRecipe.PreparingTime}}</h3>
              <span>MINS</span>
            </div>
            <div class="cont_icon_right"></div>
          </div>

          <div class="cont_servings">
            <h3>{{selectedRecipe.Servings}}</h3>
            <span>SERVINGS</span>
          </div>

          <div class="cont_detalles">
            <h3 style="margin-top:50px">{{selectedRecipe.Name}}</h3>
          </div>

        </div>

        <div class="cont_text_ingredients">

          <div class="cont_over_hidden">
     
            <div class="cont_tabs">
              <ul>
              <li><div type="button" (click)="onClickPrep()"><h4>PREPARATION</h4></div></li>
              <li><div type="button" (click)="onClickIngredients()"><h4>INGREDIENTS</h4></div></li>
              </ul>  
            </div>
            
            <div #ingredDiv class="ingredDiv">
              <div>
                <hr width="30px" color="orange">
                <p>Tomatoes</p>
                <hr width="30px" color="orange">
              </div>
              
              <div>
                <hr width="30px" color="orange">
                <p>Cheese</p>
                <hr width="30px" color="orange">
              </div>
              <div>
                <hr width="30px" color="orange">
                <p>Flour</p>
                <hr width="30px" color="orange">
              </div>
              <div>
                <hr width="30px" color="orange">
                <p>Olives</p>
                <hr width="30px" color="orange">
              </div>
            </div>

            <div #prepDiv class="cont_text_det_preparation scroll">
                {{selectedRecipe.Description}}
            </div>  
        
          </div>

          <div class="cont_btn_open_dets">
            <button type="button" (click)="open_close()"><i class="material-icons"><</i></button>
          </div>
    
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="col-4 footer-divs">
          Studenti:
          <br>
          Cibotaru Bianca, grupa 10LF291
          <br>
          Constantinescu Andreea, grupa 10LF291
          <br>
          Gramada Catalina, grupa 10LF292
      </div>
      <div class="col-4 footer-divs">
          <img src="../assets/images/Masterchef logo.png" width="300px" height="200px">
      </div>
      <div class="col-4 footer-divs">
          Inginerie Software Masterchef@2021
      </div>
          
  </div>
</div>


