

    <style>
      body{
                background-image: url("https://wallpaperaccess.com/full/4902543.jpg");
                background-size:contain;
            }
      h1{
                font-family: Gabriola;
                font-style: bold;
                font-size: 200%;
                font-weight: 1000;
                color: rgb(219, 6, 6);
                text-align: center;
            }
    .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            }
      </style>

<body>

    <img style="text-align: center;" src="../assets/images/Masterchef logo.png" width="200px" height="150px" class="center">
    <h1>Nume Prenume</h1>

</body>
