<div class="wraper" style="background: #d4cebf">
		<div class="container">
		<div class="left-content">
			<div class="logo">
                    <img src="../assets/images/Masterchef logo.png" width="200px" height="100px">
				
			</div>
			<div class="nav">
				<ul>
					<li><a href="">Log Out</a></li>
					<li><a href="/recipes">SEARCH RECIPE</a></li>
				</ul>
			</div>
			<div class="left-footer">
				<div class="social-icons">
					<ul>
						<li><a href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
						<li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					</ul>
				</div>
				<div class="footer">
					<div class="col-4 footer-divs">
						Studenti:
						<br>
						Cibotaru Bianca, grupa 10LF291
						<br>
						Constantinescu Andreea, grupa 10LF291
						<br>
						Gramada Catalina, grupa 10LF292
					</div>
					<div class="col-4 footer-divs">
						<img src="../assets/images/Masterchef logo.png" width="300px" height="200px">
					</div>
					<div class="col-4 footer-divs">
						Inginerie Software Masterchef@2021
					</div>
						
				</div>
				
			</div>

		</div>
		<div class="main-content">
			<div class="section1 p-30" id="Home">
			<div class="sec-title">
	<div class="pg-sub-title">Home</div>
	<div class="pg-title">My Profile</div>
			</div>
				<div class="d-flex-align-center">
				<div class="user-img flex-1"><img src="https://thumbs.dreamstime.com/b/funny-chef-tray-avatar-character-vector-illustration-design-94050877.jpg"></div>
				<div class="user-profile flex-1">
					<div class="pro-details">
						<div class="sm-text">HELLO EVERYBODY, I AM</div>
						<div class="name">{{user.FirstName + " " + user.LastName}}</div>

					</div>
					<div class="pr-list">
						<ul>
							<li><span class="material-icons">cake</span> {{user.Age}}</li>
							<li><img src="../assets/images/height-icon.jpg" width="22px">{{user.Height}}</li>
							<li><img src="https://cdn3.iconfinder.com/data/icons/medical-services-2-2/256/Weight_Management-512.png" width="22px"> {{user.Weight}}</li>
							<li><span class="material-icons">email</span> {{user.Email}}</li>
						</ul>
					</div>

				</div>
			</div>
			</div>

		</div>
	</div>
</div>
