<div class="content-body">

    <mat-card class="login-card">
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>

        <mat-card-content>

            <form [formGroup]="loginForm" #lForm="ngForm" class="example-form">

                <mat-form-field class="full-width">
                    <input id="emailLogin" type="text" formControlName="Email" matInput placeholder="Email/Username"
                        required>
                    <mat-error *ngIf="emailLogin">{{getErrorMessageRequiredEmailLogin()}}</mat-error>
                </mat-form-field>


                <mat-form-field class="full-width">
                    <input matInput id="passwordLogin" [type]="hide ? 'password' : 'text'"
                        formControlName="Password" placeholder="Password" required>
                    <mat-icon [ngStyle]="{'color':'black'}" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' :
                        'visibility'}}</mat-icon>

                    <mat-error *ngIf="passwordLogin">
                        <div *ngIf="getErrorMessageRequiredPasswordLogin()!=true">
                            {{getErrorMessageRequiredPasswordLogin()}}
                        </div>
                    </mat-error>

                    <mat-error *ngIf="passwordLogin">
                        <div *ngIf="getErrorMessageLengthPasswordLogin()!=true">
                            {{getErrorMessageLengthPasswordLogin()}}
                        </div>
                    </mat-error>

                </mat-form-field>

                <mat-checkbox class="checkbox" (click)="onClickRememberMe()">Remember me
                </mat-checkbox>

                <mat-card-actions>
                    <button [disabled]="loginForm.invalid" (click)="onLogin(lForm)"
                        class="login-button" mat-raised-button color="accent">Login</button>
                </mat-card-actions>

                

            </form>
            Don't have an account? <a routerLink="/register">Register here!</a>
        </mat-card-content>
    </mat-card>

</div>

<div class="footer">
    <div class="col-4 footer-divs">
        Studenti:
        <br>
        Cibotaru Bianca, grupa 10LF291
        <br>
        Constantinescu Andreea, grupa 10LF291
        <br>
        Gramada Catalina, grupa 10LF292
    </div>
    <div class="col-4 footer-divs">
        <img src="../assets/images/Masterchef logo.png" width="300px" height="200px">
    </div>
    <div class="col-4 footer-divs">
        Inginerie Software Masterchef@2021
    </div>
        
</div>

